    <!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Broker</li>
</ol>
<!-- Icon Cards-->
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Stock value chart
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div style="margin-left:32px">
                                    <div class="input-group">
                                        <label for="Sector" class="control-label col-sm-2 customorderLable">Sector</label>
                                        <select id="Sector" class="form-control col-sm-4" [(ngModel)]="selectedChartSector.Id">
                                            <option *ngFor="let sector of sectorList" [ngValue]="sector.Id">{{sector.Name}}</option>
                                        </select>
                                        <span class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div style="height: 100px">
                                    <ngx-charts-line-chart [view]="view"
                                                           [scheme]="colorScheme"
                                                           [results]="multi"
                                                           [gradient]="gradient"
                                                           [xAxis]="showXAxis"
                                                           [yAxis]="showYAxis"
                                                           [legend]="showLegend"
                                                           [showXAxisLabel]="showXAxisLabel"
                                                           [showYAxisLabel]="showYAxisLabel"
                                                           [xAxisLabel]="xAxisLabel"
                                                           [yAxisLabel]="yAxisLabel"
                                                           [autoScale]="autoScale"
                                                           (select)="onSelect($event)">
                                    </ngx-charts-line-chart>
                                </div>
                                </div>
                               
                            </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Sell stocks
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:5px"></th>
                                        <th>Sector</th>
                                        <th>Stock</th>
                                        <th>Quantity</th>
                                        <th>Purchase price</th>
                                        <th>Current price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th style="width:5px"></th>
                                        <th>Sector</th>
                                        <th>Stock</th>
                                        <th>Quantity</th>
                                        <th>Purchase price</th>
                                        <th>Current price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr style="cursor:pointer" *ngFor="let sellingItem of sellingItemList; let rowIndex=index">
                                        <td>
                                            <div class="checkbox-label">
                                                <label class="checkbox-label" style="padding-top:0px!important">
                                                    <input class="checkbox" [(ngModel)]="sellingItem.IsCheck" (ngModelChange)="onChangeSellingRowChecked(sellingItem)" type="checkbox" ng-class="styled">
                                                    <span class="label-text"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td [innerHTML]="sellingItem.SectorName"></td>
                                        <td [innerHTML]="sellingItem.StockName"></td>
                                        <td [innerHTML]="sellingItem.Quantity"></td>
                                        <td class="text-right" [innerHTML]="sellingItem.Price"></td>
                                        <td class="text-right" [innerHTML]="sellingItem.CurrentPrice"></td>
                                    </tr>
                                    <tr *ngIf="sellingItemList.length < 1">
                                        <td colspan="5" class="text-center">
                                            Not Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form *ngIf="isSelectItemToSell" [formGroup]="sellForm">
                            <div class="form-group">
                                    <label for="alterEgo" style="font-size:40px;color:red;font-weight:bold;">Selected Stock </label><label style="font-size:30px;color:blue;" for="alterEgo"> - {{selectedSellStockTransaction.StockName}} {{selectedSellStockTransaction.Price}}</label>
                            </div>
                            <div class="form-group">
                                <label for="Quantity">Quantity</label>
                                <input type="number" [(ngModel)]="sellingQty" formControlName="qty" class="form-control" id="name" required>
                            </div>
                            <div class="form-group">
                                <label for="price">Selling price</label>
                                <input type="number" [(ngModel)]="sellingPrice" formControlName="price" class="form-control" id="name" required>
                            </div>
                         
                            <button type="submit" class="btn btn-success">Create</button>

                        </form>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Buy stocks
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <label for="Sector" class="control-label col-sm-2 customorderLable">Sector</label>
                                    <select id="Sector" class="form-control col-sm-4" [(ngModel)]="selectedBuySector.Id" (ngModelChange)="getStockBySectorId($event)">
                                        <option *ngFor="let sector of sectorList" [ngValue]="sector.Id">{{sector.Name}}</option>
                                    </select>
                                    <span class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:5px"></th>
                                                <th>Name</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th style="width:5px"></th>
                                                <th>Name</th>
                                                <th>Price</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr style="cursor:pointer" *ngFor="let buyingItem of buyingItemList; let rowIndex=index">
                                                <td>
                                                    <div class="checkbox-label">
                                                        <label class="checkbox-label" style="padding-top:0px!important">
                                                            <input class="checkbox" [(ngModel)]="buyingItem.IsCheck" (ngModelChange)="onChangeBuyingRowChecked(buyingItem)" type="checkbox" ng-class="styled">
                                                            <span class="label-text"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td [innerHTML]="buyingItem.Name"></td>
                                                <td class="text-right" [innerHTML]="buyingItem.CurrentPrice"></td>
                                            </tr>
                                            <tr *ngIf="buyingItemList.length < 1">
                                                <td colspan="3" class="text-center">
                                                    Not Found
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <form *ngIf="isSelectItemToBuy">
                                    <div class="form-group">
                                        <label for="alterEgo" style="font-size:40px;color:red;font-weight:bold;">Selected Stock </label><label style="font-size:30px;color:blue;" for="alterEgo"> - {{selectedStockToBuy.Name}} {{selectedStockToBuy.CurrentPrice}}</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="Quantity">Quantity</label>
                                        <input type="number" [(ngModel)]="buyingQty" class="form-control" id="name" required>
                                    </div>

                                    <button type="submit" class="btn btn-success">Create</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Transaction History (Bought / Sold)
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Stock Name</th>
                                        <th>Quantity</th>
                                        <th>Bought / Sold</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Stock Name</th>
                                        <th>Quantity</th>
                                        <th>Bought / Sold</th>
                                        <th>Price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let transactionHistory of transactionHistoryList; let rowIndex=index">
                                        <td [innerHTML]="transactionHistory.StockName"></td>
                                        <td [innerHTML]="transactionHistory.Quantity"></td>
                                        <td [innerHTML]="transactionHistory.Name"></td>
                                        <td [innerHTML]="transactionHistory.Price" class="text-right"></td>
                                    </tr>
                                    <tr *ngIf="transactionHistoryList.length < 1">
                                        <td colspan="3" class="text-center">
                                            Not Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Recommandations
                    </div>
                    <div class="card-body">
                       
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Current bank info
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="Sector" class="control-label">Current bank balance:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="Sector" class="control-label">Total of bought item:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="Sector" class="control-label">Total of sold sold:</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
</div>