/StockMarketSimulation.Api/nbproject/private/
/Test/nbproject/private/
/Test/build/
/StockMarketSimulation.Bot/target/
/StockMarketSimulation.Api/dist/
/StockMarketSimulation.GameHandler/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/