/StockMarketSimulation.Api/nbproject/private/
/StockMarketSimulation.Api/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication3/nbproject/private/
/WebApplication3/build/
/WebApplication3/dist/