    <!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Analyst</li>
</ol>
<!-- Icon Cards-->
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Buying
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       28500.00</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       20000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       254000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Cedric Kelly</td>
                                        <td class="text-right text-success"><i class="fa fa-long-arrow-up"></i>       90000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
               
            </div>
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i> Selling
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Price</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       43000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       40000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       60000.00</td>
                                    </tr>
                                    <tr>
                                        <td>Cedric Kelly</td>
                                        <td class="text-right text-danger"><i class="fa fa-long-arrow-down"></i>       50000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
            </div>
        </div>
    </div>
</div>