    <!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">Current bank balance!</div>
                <div class="mr-5">{{currentBankInfo.CurrentBaniBalance}}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Total of bought item!</div>
                <div class="mr-5">{{currentBankInfo.TotalBoughtItem}}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">Total of sold item!</div>
                <div class="mr-5">{{currentBankInfo.TotalSoldItem}}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-support"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Stock value chart
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="margin-left:32px">
                            <div class="input-group">
                                <label for="Sector" class="control-label col-sm-2 customorderLable">Sector</label>
                                <select id="Sector" class="form-control col-sm-4" [(ngModel)]="selectedChartSector.Id" (ngModelChange)="getAvailableShelfByType($event)">
                                    <option *ngFor="let sector of sectorList" [ngValue]="sector.Id">{{sector.Name}}</option>
                                </select>
                                <span class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div style="height: 100px">
                            <ngx-charts-line-chart [view]="view"
                                                   [scheme]="colorScheme"
                                                   [results]="multi"
                                                   [gradient]="gradient"
                                                   [xAxis]="showXAxis"
                                                   [yAxis]="showYAxis"
                                                   [legend]="showLegend"
                                                   [showXAxisLabel]="showXAxisLabel"
                                                   [showYAxisLabel]="showYAxisLabel"
                                                   [xAxisLabel]="xAxisLabel"
                                                   [yAxisLabel]="yAxisLabel"
                                                   [autoScale]="autoScale"
                                                   (select)="onSelect($event)">
                            </ngx-charts-line-chart>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <div class="col-lg-4">
     
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <!-- Example Bar Chart Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> Transaction history
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive"  style="overflow-y:auto;height:300px">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stock Name</th>
                                    <th>Quantity</th>
                                    <th>Bought / Sold</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Stock Name</th>
                                    <th>Quantity</th>
                                    <th>Bought / Sold</th>
                                    <th>Price</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let transactionHistory of transactionHistoryList; let rowIndex=index">
                                    <td [innerHTML]="transactionHistory.StockName"></td>
                                    <td [innerHTML]="transactionHistory.Quantity"></td>
                                    <td><span *ngIf="transactionHistory.Type == 1">Sold</span><span *ngIf="transactionHistory.Type == 2">Bought</span></td>
                                    <td [innerHTML]="transactionHistory.Price" class="text-right"></td>
                                </tr>
                                <tr *ngIf="transactionHistoryList.length < 1">
                                    <td colspan="3" class="text-center">
                                        Not Found
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <!-- Card Columns Example Social Feed-->
        <hr class="mt-2">
    </div>
    <div class="col-lg-4">
        <!-- Example Pie Chart Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-pie-chart"></i> Player List
            </div>
            <div class="card-body">
              
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <!-- Example Notifications Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bell-o"></i> Bank Info
            </div>
            <div class="list-group list-group-flush small">
                <a class="list-group-item list-group-item-action" href="#">
                    <div class="media">
                        
                    </div>
                </a>
             
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>
<!-- Example DataTables Card-->



<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             loadingText="Wait..."
             type="ball-atom">
</ngx-spinner>